{% load static %}
<html dir="rtl" lang="ar">
    <head>

        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'vision_project/css/style.css' %}" rel="stylesheet">

    </head>
    <body>
        <!-- Start Header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img id="comp-k2nfmjwximgimage" style="object-position:50% 50%;width:185px;height:91px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/845bff_2f6fd559858e4cd4a9fb95c3563a1d0d~mv2.png/v1/fill/w_185,h_91,al_c,q_80,usm_0.66_1.00_0.01/845bff_2f6fd559858e4cd4a9fb95c3563a1d0d~mv2.webp">
                        متطلبات سوق العمل
                        نحو رؤية 2030
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">خريطة الموقع</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="aboutMe.html">من أنا؟</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            المجالات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">الإتصالات وتقنية المعلومات</a>
                            <a class="dropdown-item" href="#">تطوير قطاعات التجزئة و المنشات الصغيرة</a>
                            <a class="dropdown-item" href="#">النقل و سلاسل الامداد اللوجستية</a>
                            <a class="dropdown-item" href="#">القطاع المالي</a>
                            <a class="dropdown-item" href="#">تطوير القطاع التعليمي</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="refs.html">المراجع</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactMe">تواصل معنا</a>
                        </li>
                        </ul>
                    </div>
                </nav>
        </header>
        <!-- End Header -->

        <!-- Start Body -->
        <div class="container">
          <div style="margin:2.5%;" class="card">
            <div class="card-body text-center">
              <h3>
                من نحن
              </h3>
            </div>
          </div>
        </div>
        <div style="background-color: #fff;" class="container-fluid">
          <div style="padding:5%;" class="row">
            <div class="col-md-4">
              <img class="img-fluid" alt="Responsive image" src="Images\diversity1.jpg">
            </div>
            <div class="col-md-8">
              <h4 class="text-center">
                من انا؟
              </h4>
              <p>
                انا الطالبة الموهوبة الين صلاح العمودي من الصف الثاني متوسط من المدرسة المتوسطة السادسة والخمسون
              </p>
            </div>
          </div>
          <div style="padding:5%;" class="row">
            <div class="col-md-6">
              <h4 class="text-center">
                الانجازات
              </h4>
              <ul>
                <li>
                  لقد فزت في مسابقة التهجئة في اللغة الانجليزية وحصلت على المركز الثاني
                </li>
                <li>
                  وفزت في مسابقة خرائط العلوم في مدرستي
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">
                هواياتي
              </h4>
              <ul>
                <li>
                  رسم اللوحات واحاول تطوير نفسي في اوقات فراغي.
                </li>
                <li>
                  واحب البرمجة كصناعة الالعاب واحببت صناعة المواقع فانه شيئ جديد تعلمته
                </li>
                <li>
                  تعلم لغات جديدة واكثر لغة احبها هي الايطالية ولكن لا اجيدها.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Body -->

        <!-- Start Footer -->
        <footer id="contactMe">
            <div class="container">
                    <h4>تواصل معنا</h4>
                    <p>
                    الايميل:
                        <a href="to:alin.mo@outlook.com"><span class="social" >r</span>alin.mo@outlook.com</a>
                    </p>
                    <p>
                        <a style="font-size:2em" class="social" href="https://www.instagram.com/2030.vision/">l</a>
                    </p>
            </div>
        </footer>
        <!-- End Fotter -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
    </body>
</html>
