{% load static %}
{% load i18n %}
<html dir="rtl" lang="ar">
    <head>

        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- Start Header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img id="comp-k2nfmjwximgimage" style="object-position:50% 50%;width:185px;height:91px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/845bff_2f6fd559858e4cd4a9fb95c3563a1d0d~mv2.png/v1/fill/w_185,h_91,al_c,q_80,usm_0.66_1.00_0.01/845bff_2f6fd559858e4cd4a9fb95c3563a1d0d~mv2.webp">
                        {% blocktrans %}
                        متطلبات سوق العمل
                        نحو رؤية 2030
                        {% endblocktrans %}
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">{% trans 'الرئيسية' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">خريطة الموقع</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutMe.html">من أنا؟</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            المجالات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">الإتصالات وتقنية المعلومات</a>
                            <a class="dropdown-item" href="#">تطوير قطاعات التجزئة و المنشات الصغيرة</a>
                            <a class="dropdown-item" href="#">النقل و سلاسل الامداد اللوجستية</a>
                            <a class="dropdown-item" href="#">القطاع المالي</a>
                            <a class="dropdown-item" href="#">تطوير القطاع التعليمي</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="refs.html">المراجع</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactMe">تواصل معنا</a>
                        </li>
                        </ul>
                    </div>
                </nav>
        </header>
        <!-- End Header -->

        <!-- Start Body -->
        <div class="container">
          <!-- Start Section 1 -->
            <div class="row">
              <div style="padding:1%;" class="col-md-6">
                <img class="img-fluid" alt="Responsive image" tite="Saudi Vision 2030 Logo" src="{% static 'Images/1200px-Saudi_Vision_2030_logo.svg.png' %}" />
              </div>
              <div style="margin-top:2%;padding-top:5%;" class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h5 class="text-center">
                      رؤيتنا
                    </h5>
                  </div>
                  <div class="card-body">
                    <h6>
                      رؤية 2030 هي خطة جريئة قابلة للتحقيق لامة طموحة
                    </h6>
                    <p>
                      انها تعبر عن اهدافنا وامالنا على المدى البعيد وتستند الى مكامن القوة والقدرات الفريدة لوطننا وهي ترسم تطلعنا نحو مرحلة تنموية جديدة غايتها انشاء مجتمع نابض بالحياة يستطيع فيه جميع المواطنين لتحقيق امالهم وطموحاتهم في اقتصاد وطني مزدهر
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Section 1 -->
          <!-- Start Section 2 -->
            <div style="margin-top:5%;" class="row">
              <div  style="margin-top:5%;" class="col-md-6">
                <div style="margin:2%" class="card">
                  <div class="card-body">
                    <h6>
                      الوصول الى مجتمع حيوي يوفر للجميع حياة كريمة وسعيدة سيكون وفق رؤية 2030 اساس قوي للازدهارالاقتصادي
                    </h6>
                    <p>
                      جذوره راسخة-بيئته عامرة- بنيانه متين
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <img class="img-fluid rounded" alt="Responsive image" tite="Saudi Vision 2030" src="{% static 'Images/unnamed.png' %}" alt="">
              </div>
            </div>
          <!-- End Section 2 -->
          <!-- Start Section 3 -->
            <div style="margin-top:5%;" class="row">
              <div class="col-md-6">
                <div style="margin:2%" class="card">
                  <div class="card-body">
                    <p>
                      من الركائز الرئيسية لرؤية 2030 توفير بيئة تطلق امكانات الاعمال وتوسع القاعدة  الاقتصادية وتوفر فرص عمل لجميع السعوديين ونحن نسعى لتحقيق ذلك بالاستفادة من الموقع الفريد للمملكة وامكاناتها واستقطاب افضل المواهب وجذب المزيد من الاستثمارات العالمية
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <img class="img-fluid rounded" alt="Responsive image" tite="Saudi Vision 2030" src="{% static 'Images/unnamed2.png' %}" alt="">
              </div>
            </div>
          <!-- End Section 3 -->
          <!-- Start Section 4 -->
            <div style="margin-top:5%;" class="row">
              <div class="col-md-6">
                <div style="margin:2%" class="card">
                  <div class="card-body">
                    <h6>
                      تهدف الرؤية الى التحول حكومة عالية الاداء تتسم بالفعالية والشفافية والمساءلة زتمكن المواطنين والقطاع الخاص والمؤسسات غير الربحية من اخذ المبادرة في استكشاف الفرص المتاحة لتحقيق اهداف الرؤية
                    </h6>
                    <p>
                      حكوته فاعلة -مواطنه مسؤول
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <img class="img-fluid rounded" alt="Responsive image" tite="Saudi Vision 2030" src="{% static 'Images/unnamed3.png' %}" alt="">
              </div>
            </div>
          <!-- End Section 4 -->
          <!-- Start Section 5 -->
          <div style="margin-top:5%;" class="row justify-content-md-center">
            <div class="col-md-5">
              <div class="card">
                <div class="card-header">
                  الهدف من الموقع
                </div>
                <div class="card-body">
                  <p>
                    توضيح الرؤية المستقبلية للطالب لتكوين جيل مستعد لمتطلبات سوق العمل في ضوء رؤية 2030 للنهوض بالوطن والوصول الى مستقبل زاهر مشرق
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Section 5 -->
          <!-- Start Section 6 -->
          <div style="margin-top:5%;margin-bottom:5%;" class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  الفئة المستهدفة
                </div>
                <div class="card-body">
                  <p>
                    الشباب المقدم على الدراسة
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  الخدمة التي يقدمها الموقع
                </div>
                <div class="card-body">
                  <p>
                    يخدم الشباب المقدم للدراسة للتسهيل لهم في اختيار تخصصهم ومعرفة ميولهم
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Section 6 -->
        </div>
        <!-- End Body -->

        <!-- Start Footer -->
        <footer id="contactMe">
            <div class="container">
                    <h4>تواصل معنا</h4>
                    <p>
                    الايميل:
                        <a href="to:alin.mo@outlook.com"><span class="social" >r</span>alin.mo@outlook.com</a>
                    </p>
                    <p>
                        <a style="font-size:2em" class="social" href="https://www.instagram.com/2030.vision/">l</a>
                    </p>
            </div>
        </footer>
        <!-- End Fotter -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
    </body>
</html>
