@font-face {
    font-family: "socialFont";
    src: url("social_font.ttf");
}
@font-face{
    font-family: "SmartphoneColorPro";
    src: url("Smartphone Color Pro.ttf")
}
body{
    background-color: #BAFBFD;
}
.social{
    font-family: SmartphoneColorPro;
}
* {
    font-family: 'Roboto', sans-serif;
}
nav a{
    text-align: center;
}
footer {
    background-color: #57BBBF;
}
footer > h4 {
    text-align:center;
}
footer > * {
    color: #112223;
}
footer a {
    color: white;
}
